<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>商店</title>
    <link rel="stylesheet" href="css/shopshow.css">
    <link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap-theme.css">
    <script src="js/jquery-3.4.1.js"></script>
    <script src="bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <script src="bootstrap-3.3.7-dist/js/npm.js"></script>
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/star.css">
    <script src="js/vue.min.js"></script>

    <script>
        $(function () {
            var $cone1=$("#shopshow1")
            $("#shopshow1").detach()
            var Num=1
            //vue
                var vm = new Vue({
                    el: '#show',
                    data: {
                        shop:[],
                        shops:[],
                    },
                });
            $.ajax({
                url: "/getAllShare",
                type: "post",
                data: {
                    pageNum:Num,
                },
                dataType: "json",
                success: function (data) {
                    for (var i=0;i<data.list.length;i++) {
                        vm.shop.push({
                            shopId:data.list[i].shopId,
                            shopName: data.list[i].shopName,
                            shopCom: data.list[i].shopCom,
                            startPrice:data.list[i].startPrice,
                            packagFee:data.list[i].packagFee
                        })
                    }
                }
            })
            $.ajax({
                url: "/select",
                type: "post",
                data: {
                    shopName:$("#tet").val()
                },
                dataType: "json",
                success: function (data) {
                    for (var i=0;i<data.length;i++) {
                        vm.shops.push({
                            shopId:data[i].shopId,
                            shopName: data[i].shopName,
                            shopCom:  data[i].shopCom,
                            startPrice: data[i].startPrice,
                            peiFee: data[i].peiFee,
                        })
                    }
                }
            })
            //点击文字变黄
            $(".s-4").click(function () {
                $(".s-4").css('color', '')
                $(this).css('color', 'orange')
            })
            // 图片透明度特效
            $(".show1").click(function () {
                $(this).find(".i3").css('opacity','0.6')
                $(this).find(".shouc").show()
             }, function () {
                $(this).find(".i3").css('opacity','1')
                $(this).find(".shouc").hide()
            });
            //搜索
            $("#h3").click(function () {
                $("#shopshow").detach()
                $("#gongao").after($cone1)
                e()
            });
            //登录部分
            $("#selectAdmin").click(function () {
                if ($(this).text() == "手机动态码登陆") {
                    $(this).text("普通方式登陆");
                    $(".tel").attr("placeholder", "手机号");
                    $(".msg").attr("placeholder", "密码");
                    $("#getMsg").text("");

                } else {
                    $(this).text("手机动态码登陆");
                    $(".tel").attr("placeholder", "请输入手机号，未注册将自动注册");
                    $(".msg").attr("placeholder", "动态码");
                    $("#getMsg").text("获取手机动态码");
                }
            })
            // $(".shouc").click()(function () {
            //     $(this).css('data-toggle','modal')
            //     $(this).css('data-target','#myModal')
            // })
            //分页
            //分页
            $(".w2").click(function () {
                $(".show1").remove();
                Num++
                f();
            })
            $(".w1").click(function () {
                Num--
                f();
            })
            收藏
            // $(".shouc").click(sc())
            function f() {
                vm.shop=[];
                $.ajax({
                    url: "/getAllShare",
                    type: "post",
                    data: {
                        pageNum:Num,
                    },
                    dataType: "json",
                    success: function (data) {
                        for (var i=0;i<data.list.length;i++) {
                            vm.shop.push({
                                shopName: data.list[i].shopName,
                                shopCom: data.list[i].shopCom,
                                startPrice:data.list[i].startPrice,
                                packagFee:data.list[i].packagFee
                            })
                        }
                    }
                })
            }
            function e() {
                vm.shops=[];
                $.ajax({
                    url: "/select",
                    type: "post",
                    data: {
                        shopName:$("#tet").val()
                    },
                    dataType: "json",
                    success: function (data) {
                        for (var i=0;i<data.length;i++) {
                            vm.shops.push({
                                shopId:data[i].shopId,
                                shopName: data[i].shopName,
                                shopCom:  data[i].shopCom,
                                startPrice: data[i].startPrice,
                                peiFee: data[i].peiFee,
                            })
                        }
                    }
                })
            }
            function sc() {
                $.ajax({
                    url: "/sc",
                    type: "post",
                    data: {
                        cusId:35,
                        shopId:2,
                    },
                    dataType: "json",
                    success: function () {
                        for (var i=0;i<data.length;i++) {
                            alert("提交成功");
                        }
                    }
                })
            }


        })

    </script>
    <link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap.css">
</head>
<body>

<!--头部引用-->
    <iframe id="headerFrame" name="headerFrame" src="head.html" frameborder="0" scrolling="no"></iframe>
<div id="show">
    <a name="shopshow.html"></a>
    <div id="login">
        <div id="login-l">
            <div id="l-1"></div>
            <div id="l-2">集美区</div>
            <div id="l-3">集美大学</div>
            <div id="l-4"></div>
            <div id="l-5">切换地址<img  id="top-tools" src="image/top-tools-arrow.png" /></div>
        </div>
        <div id="login-r">
            <div data-toggle="modal" data-target="#myModal" class="r-2">注册</div>
            <div data-toggle="modal" data-target="#myModal" class="r-2">登录</div>
            <div id="r-4"><img id="oder-list" src="image/order-list.png"/>我的订单</div>
        </div>
    </div>
    <div id="search">
        <div id="search-b">
            <img src="image/new-icon-sort.png"id="new-icon"/>
            <div id="s-1">商家分类</div>
            <div id="s-2"></div>
            <div class="s-4">全部</div>
            <div class="s-4">美食</div>
            <div class="s-4">正餐优选</div>
            <div class="s-4">超市</div>
            <div class="s-4">精选小吃</div>
            <div class="s-4">鲜果购</div>
            <div class="s-4">下午茶</div>
            <div id="h1" >
                <input type="text"id="tet" placeholder="搜索商品，美食">
                <div id="h3"><img src="image/shousuo.png" id="i1"/></div>
            </div>
        </div>
    </div>
    <div id="gongao">
        <img src="image/announcement-icon.png" id="i2"/>
        <div id="g1">美团外卖向消费者郑重承诺：</div>
        <div id="g2">平台公示</div>
    </div>
    <div id="shopshow">
        <div class="show1" v-for="(aa,index) in shop ">
            <div class="show-img">
                <div class="i3"> <img data-toggle="modal" data-target="#myModal" class="shouc" src="image/icon-new-heart.png" /></div>
            </div>
            <div class="show-font">
                <div class="show-name" >{{aa.shopName}}</div>
<!--                评价星星-->
                <div class="bg"><!--这里是背景，也就是灰色的星星-->
                    <!--说明，这里的width就是设置分数啦，以我写的为例，一个星星的长度是12px，也就是1分12px，如果是4.3分，就是4.3*12px = 51.6px的长度，当然这个一般是取得数据后用js或者其他模板语言去控制的-->
                    <div class="over"  ></div><!--这里是遮罩，设置宽度以达到评分的效果-->
                </div>
                <div class="pinfen">{{aa.shopCom}}分</div>
                <div class="culue">
                    <div class="qisong">起送：￥<td>{{aa.startPrice}}</td></div>
                    <div class="peisong">配送费：￥<td>{{aa.packagFee}}</td></div>
                    <div class="shijian"><td>30</td>分钟</div>
                </div>
            </div>
        </div>
        <div class="xian"style="margin-top: 26%"></div>
        <div class="xian"style="margin-top: 26.5%"></div>
        <div class="xian"style="margin-top: 27%"></div>
        <div class="xian"style="margin-top: 26.5%"></div>
        <div class="xian"style="margin-top: 26.5%"></div>
<!--        分页-->
        <ul class="pagination" style="margin-left: 37%">
            <li><a class="w1" href="#">&laquo;</a></li>
            <li><a class="j1" href="#">1</a></li>
            <li><a class="j1" href="#">2</a></li>
            <li><a class="j1" href="#">3</a></li>
            <li ><a>...</a></li>
            <li><a class="j2" href="#">5</a></li>
            <li><a class="w2" href="#">&raquo;</a></li>
        </ul>


    </div>
    <div id="shopshow1">
        <div id="show2">
            <div id="solr-1">搜索"<div id="neir">zj</div>"结果如下</div>
                <div class="solr-2" v-for="(bb,index) in shops ">
                    <div class="show-font">
                        <div class="show-name" >{{bb.shopName}}</div>
                        <div class="qisong">起送：￥<td>{{bb.startPrice}}</td></div>
                        <div class="peisong">配送费：￥<td>{{bb.peiFee}}</td></div>

                        <div class="culue">
                            <div class="bg"><!--这里是背景，也就是灰色的星星-->
                                <!--说明，这里的width就是设置分数啦，以我写的为例，一个星星的长度是12px，也就是1分12px，如果是4.3分，就是4.3*12px = 51.6px的长度，当然这个一般是取得数据后用js或者其他模板语言去控制的-->
                                <div class="over" style="width:54px"></div><!--这里是遮罩，设置宽度以达到评分的效果-->
                            </div>
                            <div class="pinfen">{{bb.shopCom}}分</div>
                            <br>
                            <div class="shijian">配送时间：<td>30</td>分钟</div>
                        </div>
                    </div>
                </div>

        </div>
    </div>
<!--    右侧滚动二维码-->
    <div id="rool-r">
        <div id="rool-r-1"><img src="image/go-top.png" id="go-top"/> <br><a id="a1" href="#show">顶部</a></div>
        <div class="rool-r-2">美团外卖app<img src="image/sidebar-wm-app.jpg" class="i2"/></div>
        <div class="rool-r-2">美团外卖小程序<img src="image/sidebar-wx-app.jpg" class="i2"/></div>
    </div>
</div>
<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                   请登录美团账号
                </h4>
            </div>
<!--            登录小页面-->
            <div class="admin">
                <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">登陆账号</font></font></span>
                <span id="selectAdmin"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">手机动态码登陆</font></font></span>
                <form id="myFrom">
                    <div style="width: 260px;height: 35px"><input type="text" name="tel" placeholder="请输入手机号，未注册将自动注册" class="tel"></div>
                    <div class="pass">
                        <div class="passPic"></div>
                        <input type="text" name="msg" placeholder="动态码" class="msg">
                        <div style="margin-top: 4px;float: left"><span id="getMsg"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">获取手机动态码</font></font></span></div>
                    </div>
                    <span class="forgetPass"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">忘记密码？</font></font></span>
                    <font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><input type="submit" value="登录" class="admin1"></font></font>
                </form></div>
            <div class="modal-footer">
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<!--尾部引用-->
    <iframe id="footerFrame" name="footerFrame" src="footer.html" frameborder="0" scrolling="no"></iframe>

</body>
</html>