<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.lanqiao.mapper.CollectionMapper" >
  <resultMap id="CollectionResultMap" type="org.lanqiao.entity.Collections" >
    <result column="cus_id" property="cusId" jdbcType="INTEGER" />
    <result column="shop_id" property="shopId" jdbcType="INTEGER" />
  </resultMap>

  <insert id="insertSelective" >

insert into collection (cus_id,shop_id) value (#{param1},#{param2})
  </insert>
</mapper>