<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.lanqiao.mapper.CommentMapper" >
  <resultMap id="CommentResultMap" type="org.lanqiao.entity.Comment" >
    <id column="com_id" property="comId" jdbcType="INTEGER" />
    <result column="shop_id" property="shopId" jdbcType="INTEGER" />
    <result column="cus_id" property="cusId" jdbcType="INTEGER" />
    <result column="com_text" property="comText" jdbcType="VARCHAR" />
    <result column="com_level" property="comLevel" jdbcType="INTEGER" />
    <result column="com_time" property="comTime" jdbcType="TIMESTAMP" />
    <result column="shop_response" property="shopResponse" jdbcType="VARCHAR" />
    <association resultMap="CustomResultMap" property="custom"></association>
  </resultMap>
  <resultMap id="CustomResultMap" type="org.lanqiao.entity.Custom" >
    <id column="cus_id" property="cusId" jdbcType="INTEGER" />
    <result column="cus_name" property="cusName" jdbcType="INTEGER" />
    <result column="cus_pwd" property="cusPwd" jdbcType="VARCHAR" />
    <result column="cus_tel" property="cusTel" jdbcType="DOUBLE" />
    <result column="cus_email" property="cusEmail" jdbcType="TIMESTAMP" />
    <result column="cus_img" property="cusImg" jdbcType="VARCHAR" />
  </resultMap>

  <select id="selectAllComment" resultMap="CommentResultMap">
    select cm.*,cus_name,cus_img
    from comment cm,custom cu
    where shop_id=#{shopId} and cm.cus_id=cu.cus_id
    <if test="comLevel=='好评'">
        and com_level <![CDATA[ >= ]]> 4
    </if>
    <if test="comLevel=='差评'">
        and com_level <![CDATA[ < ]]>  4
    </if>
    order by com_time desc
  </select>
  <!--通过shopId得到所有评论-->
  <select id="SelectOpinion" resultMap="CommentResultMap">
    select com.*,custom.*
    from comment com,custom
    where shop_id = #{shopId} and com.cus_id = custom.cus_id
    <if test="level==0">
      and com_level <![CDATA[ < ]]>  4
    </if>
    <if test="level==1">
      and com_level <![CDATA[ >= ]]>  4
    </if>
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from comment
    where com_id = #{comId,jdbcType=INTEGER}
  </delete>
<!--插入评价-->
  <insert id="insertComment" parameterType="org.lanqiao.entity.Comment" >
    insert into `comment`
    <trim prefix="(" suffix=")" suffixOverrides="," >

      <if test="shopId != null" >
        shop_id,
      </if>
      <if test="cusId != null" >
        cus_id,
      </if>

      <if test="comLevel != null" >
        com_level,
      </if>
      <if test="comText != null" >
        com_text,
      </if>

    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >

      <if test="shopId != null" >
        #{shopId,jdbcType=INTEGER},
      </if>
      <if test="cusId != null" >
        #{cusId,jdbcType=INTEGER},
      </if>

      <if test="comLevel != null" >
        #{comLevel,jdbcType=INTEGER},
      </if>
      <if test="comText != null" >
        #{comText,jdbcType=VARCHAR},
      </if>

    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.lanqiao.entity.Comment" >
    update comment
    <set >
      <if test="shopId != null" >
        shop_id = #{shopId,jdbcType=INTEGER},
      </if>
      <if test="cusId != null" >
        cus_id = #{cusId,jdbcType=INTEGER},
      </if>
      <if test="comText != null" >
        com_text = #{comText,jdbcType=VARCHAR},
      </if>
      <if test="comLevel != null" >
        com_level = #{comLevel,jdbcType=INTEGER},
      </if>
      <if test="comTime != null" >
        com_time = #{comTime,jdbcType=TIMESTAMP},
      </if>
      <if test="shopResponse != null" >
        shop_response = #{shopResponse,jdbcType=VARCHAR},
      </if>
    </set>
    where com_id = #{comId,jdbcType=INTEGER}
  </update>
</mapper>