<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.lanqiao.mapper.ConCusMapper" >
  <resultMap id="ConCusResultMap" type="org.lanqiao.entity.ConCus" >
    <result column="coupon_id" property="couponId" jdbcType="INTEGER" />
    <result column="cus_id" property="cusId" jdbcType="INTEGER" />
  </resultMap>
  <insert id="insert" parameterType="org.lanqiao.entity.ConCus" >
    insert into con_cus (coupon_id, cus_id)
    values (#{couponId,jdbcType=INTEGER}, #{cusId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="org.lanqiao.entity.ConCus" >
    insert into con_cus
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="couponId != null" >
        coupon_id,
      </if>
      <if test="cusId != null" >
        cus_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="couponId != null" >
        #{couponId,jdbcType=INTEGER},
      </if>
      <if test="cusId != null" >
        #{cusId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>