<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.lanqiao.mapper.CustomMapper" >
    <resultMap id="CustomResultMap" type="org.lanqiao.entity.Custom" >
        <id column="cus_id" property="cusId" jdbcType="INTEGER" />
        <result column="cus_name" property="cusName" jdbcType="INTEGER" />
        <result column="cus_pwd" property="cusPwd" jdbcType="VARCHAR" />
        <result column="cus_tel" property="cusTel" jdbcType="DOUBLE" />
        <result column="cus_email" property="cusEmail" jdbcType="TIMESTAMP" />
        <result column="cus_img" property="cusImg" jdbcType="VARCHAR" />
    </resultMap>

    <select id="checkTel"  resultType="java.lang.Integer" parameterType="java.lang.String">
        select count(*) from custom where cus_tel = #{tel,jdbcType=INTEGER}
    </select>

    <insert id="insertCustom" parameterType="org.lanqiao.entity.Custom">
        insert into custom (cus_tel,cus_pwd,cus_name)
        values (#{cusTel,jdbcType=VARCHAR},#{cusPwd,jdbcType=VARCHAR},#{cusName,jdbcType=VARCHAR})
    </insert>

    <insert id="insertCustom1"  parameterType="java.lang.String">
        insert into custom (cus_tel,cus_name)
        values (#{cusTel,jdbcType=VARCHAR},#{cusName,jdbcType=VARCHAR})
    </insert>

    <select id="checkCustom" resultType="java.lang.Integer" parameterType="org.lanqiao.entity.Custom">
        select count(*) from custom where cus_tel = #{cusTel,jdbcType=INTEGER} and cus_pwd = #{cusPwd,jdbcType=INTEGER}
    </select>

    <update id="updatePass" parameterType="java.lang.String">
        update custom set cus_pwd = #{cusPwd,jdbcType=VARCHAR} where cus_tel = #{cusTel,jdbcType=VARCHAR}
    </update>
    
    <select id="getUserId" parameterType="java.lang.String" resultType="java.lang.Integer">
        select cus_id from custom where cus_tel = #{cusTel,jdbcType=VARCHAR}
    </select>

    <select id="getUserName" parameterType="java.lang.String" resultType="java.lang.String">
        select cus_name from custom where cus_tel = #{cusTel,jdbcType=VARCHAR}
    </select>
<!--查用户信息，显示我的账号-->
    <select id="getUserInfo" parameterType="Integer" resultType="Map">
        select cus_name,cus_tel,cus_img from custom where cus_id =#{customerId};
    </select>





</mapper>