<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.lanqiao.mapper.OrdersMapper">
    <resultMap id="OrdersResultMap" type="org.lanqiao.entity.Orders">
    <id column="order_id" property="orderId" jdbcType="INTEGER" />
    <result column="order_time" property="orderTime" jdbcType="TIMESTAMP" />
    <result column="goo_ymoney" property="gooYmoney" jdbcType="DOUBLE" />
    <result column="goo_smoney" property="gooSmoney" jdbcType="DOUBLE" />
    <result column="order_status" property="orderStatus" jdbcType="VARCHAR" />
    <result column="order_note" property="orderNote" jdbcType="VARCHAR" />
    <result column="estimated_time" property="estimatedTime" jdbcType="VARCHAR" />
    <result column="shop_id" property="shopId" jdbcType="INTEGER" />
    <association property="shop" javaType="org.lanqiao.entity.Shop">
      <id column="shop_id" property="shopId" jdbcType="INTEGER" />
      <result column="shop_tel" property="shopTel" jdbcType="VARCHAR" />
      <result column="shop_name" property="shopName" jdbcType="VARCHAR" />
      <result column="shop_img" property="shopImg" jdbcType="VARCHAR" />
      <result column="start_price" property="startPrice" jdbcType="DOUBLE" />
    <result column="packag_fee" property="packagFee" jdbcType="DOUBLE" />
    </association>
    <association property="address" resultMap="AddressResultMap"/>
    <association property="custom" resultMap="CustomResultMap"/>
    <!--<association property="shop" resultMap="ShopResultMap"/>-->
  </resultMap>
  <resultMap id="AddressResultMap" type="org.lanqiao.entity.Address" >
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="addr_name" property="addrName" jdbcType="VARCHAR" />
    <result column="addr_tel" property="addrTel" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="CustomResultMap" type="org.lanqiao.entity.Custom" >
    <result column="cus_name" property="cusName" jdbcType="INTEGER" />
    <result column="cus_tel" property="cusTel" jdbcType="DOUBLE" />
    <result column="cus_img" property="cusImg" jdbcType="VARCHAR" />
  </resultMap>
  <!--<resultMap id="ShopResultMap" type="org.lanqiao.entity.Shop" >
    <result column="start_price" property="startPrice" jdbcType="DOUBLE" />
    <result column="packag_fee" property="packagFee" jdbcType="DOUBLE" />
  </resultMap>-->

<!--查找该商家的全部订单-->
  <select id="selectAllShopOrder" resultMap="OrdersResultMap">
    select o.*,a.addr_name,a.address,a.addr_tel,a.sex,c.cus_name,c.cus_img,c.cus_tel,s.packag_fee
    from orders o,address a,custom c,shop s
    where o.addr_id=a.addr_id and o.cus_id=c.cus_id and o.shop_id=s.shop_id and o.shop_id=#{shopId}
    <if test="orderStatus != null">
      and order_status=#{orderStatus} or order_status="商家已接单"
    </if>
    order by order_time desc
  </select>
  <select id="selectTodayOrder" resultMap="OrdersResultMap" parameterType="java.lang.Integer">
    select o.*,a.addr_name,a.address,a.addr_tel,a.sex,c.cus_name,c.cus_img,c.cus_tel,s.packag_fee
    from orders o,address a,custom c,shop s
    where o.addr_id=a.addr_id and o.cus_id=c.cus_id and o.shop_id=s.shop_id and o.shop_id=#{shopId}
    and to_days(o.order_time) = to_days(now())
  </select>

  <!--<select id="getAllOrder" resultMap="OrdersResultMap" >
    /*select * from orders order by id desc*/
    select * from orders limit #{pageNum},#{pageSize}

  </select>-->

  <select id="getOrderList" resultType="java.util.Map">

    select s.shop_img,s.shop_name,o.order_id,o.order_time,s.shop_tel,o.goo_smoney from orders o,shop s
    where o.shop_id=s.shop_id and cus_id=#{customerId}
  </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from orders
    where order_id = #{orderId,jdbcType=INTEGER}
  </delete>


    <insert id="insert" parameterType="org.lanqiao.entity.Orders" useGeneratedKeys="true" keyProperty="order_id"
            keyColumn="order_id">
        insert into orders (order_id, addr_id, cus_id,
        order_time, goo_ymoney, goo_smoney,
        order_status, order_note, estimated_time,shop_id
        )
        values (#{orderId,jdbcType=INTEGER}, #{addrId,jdbcType=INTEGER}, #{cusId,jdbcType=INTEGER},
        #{orderTime,jdbcType=TIMESTAMP}, #{gooYmoney,jdbcType=DOUBLE}, #{gooSmoney,jdbcType=DOUBLE},
        #{orderStatus,jdbcType=VARCHAR}, #{orderNote,jdbcType=VARCHAR}, #{estimatedTime,jdbcType=VARCHAR},#{shopId}
        )
    </insert>


    <insert id="insertSelective" parameterType="org.lanqiao.entity.Orders">
        insert into orders
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderId != null">
                order_id,
            </if>
            <if test="addrId != null">
                addr_id,
            </if>
            <if test="cusId != null">
                cus_id,
            </if>
            <if test="orderTime != null">
                order_time,
            </if>
            <if test="gooYmoney != null">
                goo_ymoney,
            </if>
            <if test="gooSmoney != null">
                goo_smoney,
            </if>
      <if test="orderStatus != null" >
        order_status,
      </if>
      <if test="orderNote != null" >
        order_note,
      </if>
      <if test="estimatedTime != null" >
        estimated_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="addrId != null" >
        #{addrId,jdbcType=INTEGER},
      </if>
      <if test="cusId != null" >
        #{cusId,jdbcType=INTEGER},
      </if>
      <if test="orderTime != null" >
        #{orderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="gooYmoney != null" >
        #{gooYmoney,jdbcType=DOUBLE},
      </if>
      <if test="gooSmoney != null" >
        #{gooSmoney,jdbcType=DOUBLE},
      </if>
      <if test="orderStatus != null" >
        #{orderStatus,jdbcType=VARCHAR},
      </if>
      <if test="orderNote != null" >
        #{orderNote,jdbcType=VARCHAR},
      </if>
      <if test="estimatedTime != null" >
        #{estimatedTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.lanqiao.entity.Orders" >
    update orders
    <set >
      <if test="addrId != null" >
        addr_id = #{addrId,jdbcType=INTEGER},
      </if>
      <if test="cusId != null" >
        cus_id = #{cusId,jdbcType=INTEGER},
      </if>
      <if test="orderTime != null" >
        order_time = #{orderTime,jdbcType=TIMESTAMP},
      </if>
      <if test="gooYmoney != null" >
        goo_ymoney = #{gooYmoney,jdbcType=DOUBLE},
      </if>
      <if test="gooSmoney != null" >
        goo_smoney = #{gooSmoney,jdbcType=DOUBLE},
      </if>
      <if test="orderStatus != null" >
        order_status = #{orderStatus,jdbcType=VARCHAR},
      </if>
      <if test="orderNote != null" >
        order_note = #{orderNote,jdbcType=VARCHAR},
      </if>
      <if test="estimatedTime != null" >
        estimated_time = #{estimatedTime,jdbcType=VARCHAR},
      </if>
    </set>
        where order_id = #{orderId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="org.lanqiao.entity.Orders">
        update orders
        set
        order_state ="已完成付款",
        where order_id = #{orderId,jdbcType=INTEGER}
    </update>
</mapper>