<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.lanqiao.mapper.OrderItemMapper" >
  <resultMap id="OrderItemResultMap" type="org.lanqiao.entity.OrderItem" >
    <id column="det_id" property="detId" jdbcType="INTEGER" />
    <result column="food_id" property="foodId" jdbcType="INTEGER" />
    <result column="order_id" property="orderId" jdbcType="INTEGER" />
    <result column="food_number" property="foodNumber" jdbcType="INTEGER" />
    <result column="det_money" property="detMoney" jdbcType="DOUBLE" />
    <result column="det_note" property="detNote" jdbcType="VARCHAR" />
  </resultMap>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from orderItem
    where det_id = #{detId,jdbcType=INTEGER}
  </delete>

  <insert id="insertSelective" parameterType="org.lanqiao.entity.OrderItem" >
    insert into orderItem
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="detId != null" >
        det_id,
      </if>
      <if test="foodId != null" >
        food_id,
      </if>

      <if test="orderId != null" >
        order_id,
      </if>
      <if test="foodNumber != null" >
        food_number,
      </if>
      <if test="detMoney != null" >
        det_money,
      </if>
      <if test="detNote != null" >
        det_note,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="detId != null" >
        #{detId,jdbcType=INTEGER},
      </if>
      <if test="foodId != null" >
        #{foodId,jdbcType=INTEGER},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="foodNumber != null" >
        #{foodNumber,jdbcType=INTEGER},
      </if>
      <if test="detMoney != null" >
        #{detMoney,jdbcType=DOUBLE},
      </if>
      <if test="detNote != null" >
        #{detNote,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.lanqiao.entity.OrderItem" >
    update orderItem
    <set >
      <if test="foodId != null" >
        food_id = #{foodId,jdbcType=INTEGER},
      </if>
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=INTEGER},
      </if>
      <if test="foodNumber != null" >
        food_number = #{foodNumber,jdbcType=INTEGER},
      </if>
      <if test="detMoney != null" >
        det_money = #{detMoney,jdbcType=DOUBLE},
      </if>
      <if test="detNote != null" >
        det_note = #{detNote,jdbcType=VARCHAR},
      </if>
    </set>
    where det_id = #{detId,jdbcType=INTEGER}
  </update>
</mapper>