<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.lanqiao.mapper.orderStatusMapper" >
  <resultMap id="BaseResultMap" type="org.lanqiao.entity.orderStatus" >
    <result column="order_id" property="orderId" jdbcType="INTEGER" />
    <result column="order_status" property="orderStatus" jdbcType="VARCHAR" />
    <result column="order_status_update_time" property="orderStatusUpdateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <insert id="insert" parameterType="org.lanqiao.entity.orderStatus" >
    insert into orderStatus (order_id, order_status, order_status_update_time
      )
    values (#{orderId,jdbcType=INTEGER}, #{orderStatus,jdbcType=VARCHAR}, #{orderStatusUpdateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.lanqiao.entity.orderStatus" >
    insert into orderStatus
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="orderStatus != null" >
        order_status,
      </if>
      <if test="orderStatusUpdateTime != null" >
        order_status_update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="orderStatus != null" >
        #{orderStatus,jdbcType=VARCHAR},
      </if>
      <if test="orderStatusUpdateTime != null" >
        #{orderStatusUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>