.main{
    height: 1000px;
    width: 100%;
}
.search{
    height: 430px;
    width: 100%;
}
.bottom{
    height: 330px;
    width: 100%;
    background-color: blue;
}
.logo{
    width: 162px;
    height: 48px;
    margin-left: 150px;
    padding-top: 11px;
    background-color: black;
}
.mainItem{
    width: 590px;
    height: 60px;
    margin-top: 250px;
    margin-left: 393px;
    background-color: blue;
}