body,img,p,span,ul,li{
    margin:0;
    padding: 0;
    list-style: none;
    font:12px/1.125 Microsoft Yahei,Arial,Helvetica,sans-serif;

}
#mainBody{
    height: 1600px;
    width: 100%;
    background-color: #F5F5F5;
}
#header{
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}
#footer{
    height: 220px;
    width: 100%;
    float: left;
    position: absolute;
    bottom: 0;
}
.w{
    margin-top: 10px;
    margin-left: 10%;
}
/*店铺名Box*/
#partOne{
    height: 150px;
    width: 80%;
    position: absolute;
    top: 70px;
    background-color: white;
}
/*店铺名Box左部分*/
#partOneLeft{
    height: 150px;
    width: 35%;
    padding-right: 10px;
    float: left; 
    position: relative;
}
#partOneLeft img{
    height: 60%;
    width: 30%;
    margin: 20px;
}
#shopName{
    height: 40px;
    width: 40%;
    position: absolute;
    top: 20%;
    left: 40%;
}
#shopName span{
    font-size: 14px;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
}
#star{
    width: 72px;
    height: 12px;
    line-height: 12px;
    display: inline-block;
    background-size: 14px 12px;
    overflow: hidden;
    background-image: url(https://waimai.meituan.com/static/img/restaurant/star-gray.svg);
    position: absolute;
    top: 45%;
    left: 40%;
}
#startwo{
    width: 72px;
    height: 12px;
    line-height: 12px;
    display: inline-block;
    background-size: 14px 12px;
    overflow: hidden;
    background-image: url(https://waimai.meituan.com/static/img/restaurant/star-yellow.svg);
    background-repeat: repeat-x;
}
#score{
    font-size: 12px;
    float: right;
    margin-left: 3px;
    line-height: 17px;
    position: absolute;
    top: 45%;
    right: 35%;
}
#OpenTime{
    height: 60%;
    width: 100%;
    position: absolute;
    top: 100%;
    background-color: white;
    display: none;
    z-index: 1;
}
#OpenTime p{
    color: #666;
    font-size: 12px;
    line-height: 30px;
    margin-left:10px;
}
#partOneLeft:hover{
    box-shadow: 0px 5px 5px #ccc;
}
#partOneLeft:hover #OpenTime{
    display: block;
    box-shadow: 0px 5px 5px #ccc;
}
/*店铺名Box中部分*/
#partOneCenter{
    height: 150px;
    width: 40%;
    float: left;
    margin-left: 13%;
}
.OneCenterBigBox{
    height: 150px;
    width: 33%;
    float: left;
}
.OneCenterBigBox p{
    font-size: 14px;
    color: #4a4a4a;
    text-align: center;
    line-height: 60px;
}
.OneCenterBigBox span{
    font-size: 28px;
    font-weight: 900;
    line-height: 40px;
    color: black;
}
/*店铺名Box右部分*/
#partOneRight{
    height: 150px;
    width: 10.6%;
    border-left: 1px dashed #ccc;
    float: right;
}
#partOneRight p{
    font-size: 14px;
    color: #666;
    text-align: center;
    line-height: 60px;
}
#heart{
    height: 30px;
    width: 35px;
    margin-left: 36%;
    background-image: url(https://waimai.meituan.com/static/img/restaurant/favorite-grey.svg);
}
/*菜单部分*/
#partTwoMenu{
    width: 80%;
    position: absolute;
    top: 230px;
}
#menuAssess{
    height: 40px;
    width: 70%;
    float: left;
    background-color: white;
    border-bottom: 1px solid lightgray;
}
#menuAssess li{
    height: 38px;
    width: 15%;
    line-height: 30px;
    font-size: 16px;
    float: left;
    text-align: center;
    cursor: pointer;
}
/*菜品分类*/
#MenuSort{
    width: 70%;
    float: left;
    overflow: hidden;
    background-color: white;
    border-bottom: 1px solid lightgray;
    display: none;
}
#MenuSort ul{
    width: 90%;
    margin:auto;
}
#MenuSort li{
    height: 30px;
    width: 15%;
    line-height: 30px;
    font-size: 13px;
    text-align: center;
    overflow: hidden;
    float: left;
    margin: 3px;
    cursor: pointer;
}
/*菜品展示*/
.foodShow{
    width: 70%;
    float: left;
    background-color: white;
    border-bottom: 1px solid lightgray;
    display: none;
}
.sortName{
    height: 35px;
    width: 95%;
    font-size: 16px;
    text-align: left;
    line-height: 30px;
    margin-left: 10px;
}
.foodBigBox{
    height: 255px;
    width: 100%;
    border-top: 1px solid lightgray;
}
.foodSmallBox{
    height: 255px;
    width: 33%;
    float: left;
    margin-left: 2px;
}
.foodSmallBox img{
    height: 160px;
    width: 70%;
    margin-left: 15%;
    margin-top: 10px;
}
.foodSmallBox p{
    height: 35px;
    width: 85%;
    float: left;
    line-height: 40px;
    margin-left: 15%;
    font-size: 16px;
    font-weight: bold;
}
.foodName{
    color: black;
}
.foodPrice{
    color: red;
}
.addButton{
    height: 30px;
    width: 30px;
    background-image: url(https://waimai.meituan.com/static/img/restaurant/add-cart.svg);
    position: relative;
    margin-left: 209px;
    margin-top: 40px;
}
/*购物车展示*/
#cartShow{
    width: 23%;
    position: fixed;
    bottom: 50px;
    margin-left: 57%;
    background-color: white;
    display: none;
}
/*清空购物车*/
#clearCart{
    height: 30px;
    width: 100%;
    font-size: 14px;
    line-height: 30px;
    background-color: #fafafa;
    cursor: pointer;
}
#clearCart i{    
    margin-left:10px;
    margin-right:10px;
}
/*购物车中的食物*/
.cartFood{
    height: 40px;
    width: 100%;
    float: left;
    border-bottom: 1px solid lightgray;
}
.cartFood span{
    height: 40px;
    width: 50%;
    float: left;
    font-size: 14px;
    line-height: 35px;
    margin-left: 5px;
    overflow: hidden;
}
.cartFood input{
    height: 16px;
    width: 30px;
    border-top: 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
    border-left: 0px;
    border-right: 0px; 
    float: left;
    line-height: 35px;
    margin-top: 15px;
    text-align: center;
}
.cartFood button{
    height: 20px;
    width: 25px;
    float: left;
    background-color: white;
    border: 1px solid #E5E5E5;
    margin-top: 15px;
    cursor: pointer;
}
.singlePrice{
    color: #ffa735;
    font-size: 14px;
    font-weight: bold;
    float: right;
    margin-right: 10px;
    line-height: 40px;
}
.packCharge{
    height: 40px;
    width: 100%;
    float: left;
    border-bottom: 1px solid lightgray;
}
.packCharge i{
    height: 40px;
    width: 50%;
    float: left;
    font-size: 14px;
    line-height: 35px;
    margin-left: 5px;
    font-style: normal;
}
.packCharge span{
    font-size: 14px;
    line-height: 35px;
    color: #ffa735;
    float: right;
    margin-right: 10px;
}
#allMoney{
    height: 40px;
    width: 100%;
    float: left;    
}
#allMoney p{
    line-height: 35px;
    text-align: right;
    font-size: 14px;
    margin-right: 15px;
}
/*固定的购物车图标*/
#cartFixed{
    height: 50px;
    width: 23%;
    position: fixed;
    bottom: 0;
    margin-left: 57%;
    z-index: 1;
    display: none;
}
#cartPicBox{
    height: 50px;
    width: 60%;
    background-color: #333;
}
#cartPic{
    width: 25px;
    height: 25px;
    position: absolute;
    top: 13px;
    left: 10px;
    background-size: 100% 100%;
    background-image: url(https://waimai.meituan.com/static/img/restaurant/cart.svg);
}
#startSend{
    height: 50px;
    width: 40%;
    float: right;
    background-color: #cccccc;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 0;
    line-height: 50px;
    color: white;
    cursor: pointer;
}
/*评论*/
#selectAssess{
    height: 40px;
    width: 70%;
    float: left;
    background-color: white;
    display: none;
}
#selectAssess label{
    line-height: 40px;
}
/*评论模板*/
.assessBigBox{
    height: 100px;
    width: 70%;
    float: left;
    background-color: white;
    border-bottom: 1px solid lightgray;
    position: relative;
    display: none;
}
.assessBigBox img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 10px;
}
.assessBigBox span{
    font-size: 12px;
    line-height: 20px;
    color: #333;
    position: absolute;
    top: 20px;
    left: 210px;
}
.userName{
    height: 20px;
    width: 60px;
    font-weight: bold;
    text-align: center;
    position: absolute;
    top: 22px;
    left: 59px;
    font-size: 16px;
}
.expressTime{
    height: 15px;
    width: 75px;
    position: absolute;
    top: 24px;
    right: 15px;
    color: #666;
    text-align: center;
}
.starRank{
    width: 72px;
    height: 12px;
    line-height: 12px;
    display: inline-block;
    background-size: 14px 12px;
    overflow: hidden;
    background-image: url(https://waimai.meituan.com/static/img/restaurant/star-gray.svg);
    position: absolute;
    top: 23px;
    left: 126px;
}
.starRankLevel{
    width: 72px;
    height: 12px;
    line-height: 12px;
    display: inline-block;
    background-size: 14px 12px;
    overflow: hidden;
    background-image: url(https://waimai.meituan.com/static/img/restaurant/star-yellow.svg);
    background-repeat: repeat-x;
}
.opinionText{
    width: 80%;
    margin: auto;
    position: absolute;
    top: 55px;
    left: 10%;
    font-size: 14px;
    color: #666;
}
/*总体评分*/
#markBigBox{
    height: 240px;
    width: 29%;
    background-color: white;
    position: absolute;
    right: 0;
    top: 0;
    display: none;
}
#mark{
    display: inline-block;
    width: 150px;
    height: 20px;
    line-height: 20px;
    background-size: 30px 20px;
    overflow: hidden;
    background-image: url(https://waimai.meituan.com/static/img/restaurant/star-gray.svg);
    float: right;
    margin-right: 76px;
    margin-top: 13px;
}
#marktwo{
    width: 150px;
    height: 20px;
    line-height: 12px;
    display: inline-block;
    background-size: 30px 20px;
    overflow: hidden;
    background-image: url(https://waimai.meituan.com/static/img/restaurant/star-yellow.svg);
    background-repeat: repeat-x;
}
#allMark{
    height: 25px;
    width: 10%;
    float: left;
    font-size: 16px;
    font-weight: bold;
    margin-left: 62px;
    position: absolute;
    top: 50px;
    text-align: center;
    line-height: 30px;
}
#markBigBox ul{
    height: 160px;
    width: 100%;
    float: left;
    margin-top: 20px;
}
#markBigBox li{
    height: 30px;
    width: 60%;
    margin:auto;
}
.lines{
    display: inline-block;
    width: 115px;
    position: relative;
    background-color: #f5f5f5;
    height: 4px;
    margin: 5px 20px 0 20px;
}
.line{
    width: 71%;
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    height: 4px;
    background: #ffd161;
}